In [4]:
import pandas as pd
import os

Nigeria Educational Facilities

In [18]:
nig_ef = pd.read_csv("./data/nigeria/educational-facilities-in-nigeria.csv")
nig_ef = nig_ef[["facility_name", "latitude", "longitude"]]
nig_ef.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2,3,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                 facility_name  latitude  longitude
0                    CPS SWALI  4.916910   6.274128
1           NANA Basic Academy  9.140918   7.496762
2  L.E.A Primary School Pabeyi  9.174855   7.022062
3   L.E.A.PrimarySchoolPagadna  9.115847   6.962315
4              Syflora Academy  9.141155   7.499665

['Ideas.gsheet',
 'Untitled spreadsheet.gsheet',
 'data',
 'Data Procedures.gdoc',
 'Untitled0.ipynb']