In [1]:
import pandas as pd
import numpy as np

In [23]:
def calculate_bra_resources(file_path):

    print(file_path)

    bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")
    
    # columns = ["year", "deped_id", "total_teacher_male", "total_teacher_female", "total_teachers", "total_student_male", "total_student_female", "total_student_enrollment"]

    columns = ["NU_ANO_CENSO", "CO_ENTIDADE", "IN_ENERGIA_INEXISTENTE", "QT_COMP_ALUNO", "IN_INTERNET_APRENDIZAGEM", "IN_DEPENDENCIAS_PNE", "IN_BANHEIRO", \
               "IN_AGUA_POTAVEL", "IN_AGUA_FILTRADA", "IN_AGUA_REDE_PUBLICA", "IN_AGUA_POCO_ARTESIANO", "IN_ESGOTO_REDE_PUBLICA", "IN_ESGOTO_FOSSA_SEPTICA"]

    bra_ef = bra_ef[columns].rename(columns = {"NU_ANO_CENSO": "year", 
                                                    "CO_ENTIDADE": "deped_id", 
                                                    "QT_COMP_ALUNO": "computers",
                                                    "IN_ENERGIA_INEXISTENTE": "electricity", 
                                                    "IN_DEPENDENCIAS_PNE": "disability_infrastructure", 
                                                    "IN_INTERNET_APRENDIZAGEM": "internet"
                                                    # "QT_MAT_BAS_MASC": "total_student_male", 
                                                    # "QT_MAT_BAS": "total_student_enrollment"
                                                    })    
    
    water_cols = ["IN_AGUA_POTAVEL", "IN_AGUA_FILTRADA", "IN_AGUA_REDE_PUBLICA", "IN_AGUA_POCO_ARTESIANO"]
    bra_ef["water"] = (bra_ef[water_cols] == 1).any(axis=1).astype(int)
    bra_ef = bra_ef.drop(water_cols, axis = 1)


    bra_ef = bra_ef[["year", "deped_id", "water", "internet", "electricity", "computers", "disability_infrastructure"]]#, "sanitation_facilities", "ss_sanitation_facilities", "handwashing_facilities"]]


    # water_cols = ["IN_AGUA_POTAVEL", "IN_AGUA_FILTRADA", "IN_AGUA_REDE_PUBLICA", "IN_AGUA_POCO_ARTESIANO"]
    # bra_ef["water"] = (bra_ef[water_cols] == 1).any(axis=1).astype(int)
    # bra_ef = bra_ef.drop(water_cols, axis = 1)


    return bra_ef

In [24]:
bra_personnel_2019 = calculate_bra_resources("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2019/dados/microdados_ed_basica_2019.csv")
bra_personnel_2019

/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2019/dados/microdados_ed_basica_2019.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_21066/450190714.py:5: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

,year,deped_id,water,internet,electricity,computers,disability_infrastructure
0,2019,11022558,1,0,0,0,0
1,2019,11024275,1,0,0,0,0
2,2019,11024291,1,0,0,0,0
3,2019,11024372,1,0,0,0,0
4,2019,11024402,0,0,0,0,0
...,...,...,...,...,...,...,...
228516,2019,53084071,0,0,0,0,0
228517,2019,53085000,1,1,0,0,0
228518,2019,53086007,1,0,0,0,0
228519,2019,53087003,0,0,0,0,0
228520,2019,53088034,0,0,0,0,0

In [22]:
for col in bra_personnel_2019.columns:
    print(col)
    print(bra_personnel_2019[col].value_counts())
    print("------------------------------------------------------------------------------------")

year
year
2019    228521
Name: count, dtype: int64
------------------------------------------------------------------------------------
deped_id
deped_id
11022558    1
33138982    1
33136599    1
33137234    1
33137242    1
           ..
26183455    1
26183463    1
26183471    1
26185059    1
53088034    1
Name: count, Length: 228521, dtype: int64
------------------------------------------------------------------------------------
electricity
electricity
0    224336
1      4185
Name: count, dtype: int64
------------------------------------------------------------------------------------
computers
computers
0    228521
Name: count, dtype: int64
------------------------------------------------------------------------------------
disability_infrastructure
disability_infrastructure
0    228521
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_BANHEIRO
IN_BANHEIRO
1    176729
0     51792
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_AGUA_POTAVEL
IN_AGUA_POTAVEL
1    171256
0     57265
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_AGUA_FILTRADA
IN_AGUA_FILTRADA
0    228521
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_AGUA_REDE_PUBLICA
IN_AGUA_REDE_PUBLICA
1    137107
0     91414
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_AGUA_POCO_ARTESIANO
IN_AGUA_POCO_ARTESIANO
0    200361
1     28160
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_ESGOTO_REDE_PUBLICA
IN_ESGOTO_REDE_PUBLICA
0    125317
1    103204
Name: count, dtype: int64
------------------------------------------------------------------------------------
IN_ESGOTO_FOSSA_SEPTICA
IN_ESGOTO_FOSSA_SEPTICA
0    188374
1     40147
Name: count, dtype: int64
------------------------------------------------------------------------------------
water
water
1    177558
0     50963
Name: count, dtype: int64
------------------------------------------------------------------------------------

In [6]:
bra_personnel_2019["IN_ENERGIA_INEXISTENTE"]

        IN_ENERGIA_INEXISTENTE  IN_ENERGIA_INEXISTENTE
0                            0                       0
1                            0                       0
2                            0                       0
3                            0                       0
4                            0                       0
...                        ...                     ...
228516                       0                       0
228517                       0                       0
228518                       0                       0
228519                       0                       0
228520                       0                       0

[228521 rows x 2 columns]

In [7]:
bra_personnel_2019.head()

,NU_ANO_CENSO,CO_ENTIDADE,IN_ENERGIA_INEXISTENTE,IN_ENERGIA_INEXISTENTE,QT_COMP_ALUNO,IN_DEPENDENCIAS_PNE,IN_BANHEIRO,IN_AGUA_POTAVEL,IN_AGUA_FILTRADA,IN_AGUA_REDE_PUBLICA,IN_AGUA_POCO_ARTESIANO,IN_ESGOTO_REDE_PUBLICA,IN_ESGOTO_FOSSA_SEPTICA
0,2019,11022558,0,0,0,0,1,1,0,0,1,0,0
1,2019,11024275,0,0,0,0,1,1,0,1,0,0,1
2,2019,11024291,0,0,0,0,1,1,0,0,0,0,1
3,2019,11024372,0,0,0,0,0,1,0,0,0,0,1
4,2019,11024402,0,0,0,0,0,0,0,0,0,0,0