In [1]:
import pandas as pd

In [10]:
def calculate_bra_personnel(file_path):

    print(file_path)

    bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")
    
    # columns = ["year", "deped_id", "total_teacher_male", "total_teacher_female", "total_teachers", "total_student_male", "total_student_female", "total_student_enrollment"]

    columns = ["NU_ANO_CENSO", "CO_ENTIDADE", "QT_DOC_BAS", "QT_MAT_BAS_FEM", "QT_MAT_BAS"]

    bra_ef = bra_ef[columns].rename(columns = {"NU_ANO_CENSO": "year", 
                                                    "CO_ENTIDADE": "deped_id", 
                                                    "QT_DOC_BAS": "total_teachers", 
                                                    "QT_MAT_BAS_FEM": "total_student_female", 
                                                    "QT_MAT_BAS_MASC": "total_student_male", 
                                                    "QT_MAT_BAS": "total_student_enrollment"})
    # bra_ef["total_student_male"] = bra_ef["total_student_enrollment"] - bra_ef["total_student_female"]
    
    return bra_ef

In [11]:
import os

In [24]:
temp = pd.read_csv("../../data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv", sep = ";", encoding = "latin-1")
temp

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1403400859.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv("../../data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv", sep = ";", encoding = "latin-1")

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT
0,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,14.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217620,2023,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,Distrito Federal,5301,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217621,2023,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,Distrito Federal,5301,...,22.0,0.0,0.0,4.0,3.0,1.0,0.0,0.0,0.0,0.0
217622,2023,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,Distrito Federal,5301,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217623,2023,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,Distrito Federal,5301,...,24.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
217624,2023,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,Distrito Federal,5301,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
temp.to_csv("../../data/BRA/microdados_censo_escolar_2023/dados/use_for_2023.csv", index = False)

In [26]:
tables = []

for year in range(2020, 2025):

    print(year)

    if year == 2024: 
        file_path = "/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2024/dados/microdados_ed_basica_2024_new.csv"
    elif year == 2023:
        file_path = "/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv"
    elif year == 2022:
        file_path = "/Users/heatherbaier/Documents/research/geo/data/BRA/Microdados do Censo Escolar da Educa‡Æo B sica 2022/dados/microdados_ed_basica_2022.csv"
    else:
        file_path = f"/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_{year}/dados/microdados_ed_basica_{year}.csv"        

    tables.append(calculate_bra_personnel(file_path))

bra_personnel = pd.concat(tables)
bra_personnel.head()

2020
/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2020/dados/microdados_ed_basica_2020.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

2021
/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2021/dados/microdados_ed_basica_2021.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

2022
/Users/heatherbaier/Documents/research/geo/data/BRA/Microdados do Censo Escolar da Educa‡Æo B sica 2022/dados/microdados_ed_basica_2022.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

2023
/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

2024
/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2024/dados/microdados_ed_basica_2024_new.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

,year,deped_id,total_teachers,total_student_female,total_student_enrollment
0,2020,11022558,1.0,3.0,6.0
1,2020,11024275,18.0,110.0,251.0
2,2020,11024291,1.0,9.0,17.0
3,2020,11024372,8.0,47.0,113.0
4,2020,11024402,0.0,0.0,0.0

In [ ]:
geo = pd.read_csv("")

In [21]:


# print("Processing 2024")
# bra_personnel_2024 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2024/dados/microdados_ed_basica_2024_new.csv")
print("Processing 2023")
bra_personnel_2023 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv")
# print("Processing 2022")
# bra_personnel_2023 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/Microdados do Censo Escolar da Educa‡Æo B sica 2022/dados/microdados_ed_basica_2022.csv")
# print("Processing 2021")
# bra_personnel_2021 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2021/dados/microdados_ed_basica_2021.csv")


# print("Processing 2020")
# bra_personnel_2020 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2020/dados/microdados_ed_basica_2020.CSV")
# print("Processing 2019")
# bra_personnel_2019 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2019/dados/microdados_ed_basica_2019.csv")
# print("Processing 2018")
# bra_personnel_2018 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2018/dados/microdados_ed_basica_2018.csv")
# print("Processing 2017")
# bra_personnel_2017 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2017/dados/microdados_ed_basica_2017.csv")
# print("Processing 2016")
# bra_personnel_2016 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2016/dados/microdados_ed_basica_2016.csv")
# print("Processing 2015")
# bra_personnel_2015 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2015/dados/microdados_ed_basica_2015.csv")


# print("Processing 2014")
# bra_personnel_2014 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2014/dados/microdados_ed_basica_2014.CSV")
# print("Processing 2013")
# bra_personnel_2013 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2013/dados/microdados_ed_basica_2013.csv")
# print("Processing 2012")
# bra_personnel_2012 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2012/dados/microdados_ed_basica_2012.csv")
# print("Processing 2011")
# bra_personnel_2011 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2011/dados/microdados_ed_basica_2011.csv")
# print("Processing 2010")
# bra_personnel_2010 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2010/dados/microdados_ed_basica_2010.csv")
# print("Processing 2009")
# bra_personnel_2009 = calculate_bra_personnel("/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_ed_basica_2009/dados/microdados_ed_basica_2009.csv")

Processing 2023
/Users/heatherbaier/Documents/research/geo/data/BRA/microdados_censo_escolar_2023/dados/microdados_ed_basica_2023.csv

/var/folders/fv/t_4lcymx3mqd7pxf70thnqv40000gr/T/ipykernel_17051/1745456332.py:5: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  bra_ef = pd.read_csv(file_path, sep = ";", encoding = "latin-1")

In [31]:
tables = [bra_personnel_2024,
          bra_personnel_2023,
          bra_personnel_2023,
          bra_personnel_2021,
          bra_personnel_2020,
          bra_personnel_2019,
          bra_personnel_2018,
          bra_personnel_2017,
          bra_personnel_2016,
          bra_personnel_2015,
          bra_personnel_2014,
          bra_personnel_2013,
          bra_personnel_2012,
          bra_personnel_2011,
          bra_personnel_2009,]

bra_personnel = pd.concat(tables)
bra_personnel.head()

,year,deped_id,total_teachers,total_student_female,total_student_enrollment,total_student_male
0,2024,11022558,1.0,2.0,4.0,2.0
1,2024,11024275,8.0,84.0,131.0,47.0
2,2024,11024291,NaN,NaN,NaN,NaN
3,2024,11024666,13.0,76.0,169.0,93.0
4,2024,11024682,43.0,281.0,598.0,317.0

In [32]:
bra_personnel["year"].value_counts()

year
2022    449298
2014    242929
2013    242680
2011    242147
2012    242136
2015    237879
2016    237506
2017    236481
2018    236460
2019    228521
2020    224229
2021    221140
2024    215545
2009    203455
Name: count, dtype: int64

In [26]:
bra_personnel_2022.head()

,year,deped_id,total_teachers,total_student_female,total_student_enrollment,total_student_male
0,2022,11022558,1.0,2.0,6.0,4.0
1,2022,11024275,15.0,114.0,200.0,86.0
2,2022,11024291,1.0,4.0,9.0,5.0
3,2022,11024372,8.0,53.0,118.0,65.0
4,2022,11024666,20.0,76.0,161.0,85.0

In [27]:
bra_personnel_2022["deped_id"].value_counts()

deped_id
11022558    1
35659460    1
35229039    1
35236159    1
35241416    1
           ..
26034190    1
26034220    1
26034255    1
26034263    1
53088034    1
Name: count, Length: 224649, dtype: int64

In [8]:
bra_personnel_2023[bra_personnel_2023["deped_id"] == 11022558]

,year,deped_id,total_teachers,total_student_female,total_student_enrollment,total_student_male
446,2023,11022558,1.0,2.0,5.0,3.0

In [9]:
bra_personnel_2024[bra_personnel_2024["deped_id"] == 11022558]

,year,deped_id,total_teachers,total_student_female,total_student_enrollment,total_student_male
0,2024,11022558,1.0,2.0,4.0,2.0

In [12]:
bra_personnel_2022[bra_personnel_2022["deped_id"] == 11022558]

,year,deped_id,total_teachers,total_student_female,total_student_enrollment,total_student_male
0,2022,11022558,1.0,2.0,6.0,4.0

In [21]:
bra_ef["QT_DOC_BAS"]

0          1.0
1          8.0
2          NaN
3         13.0
4         43.0
          ...
215540     7.0
215541    28.0
215542    22.0
215543    21.0
215544    18.0
Name: QT_DOC_BAS, Length: 215545, dtype: float64

In [22]:
bra_ef["QT_MAT_BAS"]

0           4.0
1         131.0
2           NaN
3         169.0
4         598.0
          ...
215540    123.0
215541    382.0
215542    373.0
215543    424.0
215544    181.0
Name: QT_MAT_BAS, Length: 215545, dtype: float64

In [ ]:
bra[]

In [17]:
bra_ef["CO_ENTIDADE"]

0         11022558
1         11024275
2         11024291
3         11024666
4         11024682
            ...
215540    53084020
215541    53084039
215542    53084055
215543    53085000
215544    53086007
Name: CO_ENTIDADE, Length: 215545, dtype: int64

In [20]:
bra_ef[bra_ef["CO_ENTIDADE"] == 11000023]

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,"QT_TUR_MED_INT,,,,,,,,"
570,2024,Norte,1,Rondônia,RO,11,Porto Velho,1100205,Porto Velho,1101,...,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0,,,,,,,,"