In [2]:
import geopandas as gpd
import pandas as pd
import shutil
import os

from utils import *

/Users/heatherbaier/opt/anaconda3/envs/caoep/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [29]:
# Fetch and read the datasets
DATA_PATH = "../../data/KHM/"
khm_schools = gpd.read_file("/Users/heatherbaier/Documents/geo/data/KHM/2012/Basic information of school (2012)/school_of_cambodia_4326.shp")
khm_schools = khm_schools.to_crs("epsg:4326")


# khm_schools["longitude"] = khm_schools.geometry.x
# khm_schools["latitude"] = khm_schools.geometry.y
# khm_schools = khm_schools[["SCHOOL_COD", "SCHOOL_NAM", "longitude", "latitude"]]
# khm_schools.columns = ["deped_id", "school_name", "longitude", "latitude"]
khm_schools.head()

,PROVINCE,SCHOOL_COD,COMMUNE,DISTRICT,SCHOOL_NAM,VILLAGE,SCHOOL_TYP,TYPE_CODE,CLASSES,ROOMS,Location,Teach_staf,Non_teach,Enrol,geometry
0,Banteay Meanchey,1.020101e+09,Banteay Neang,Mongkol Borei,O Thom,O Thom,Primary,2.0,1.0,1.0,Rural,1,0,29,POINT (103.03070 13.51528)
1,Banteay Meanchey,1.020103e+09,Banteay Neang,Mongkol Borei,Banteay Neang,Banteay Neang,Primary,2.0,17.0,9.0,Rural,21,3,638,POINT (103.01544 13.51285)
2,Banteay Meanchey,1.020104e+09,Banteay Neang,Mongkol Borei,Banteay Neang,Banteay Neang,Pre school,1.0,4.0,4.0,Urban,4,1,115,POINT (103.01544 13.51285)
3,Banteay Meanchey,1.020105e+09,Banteay Neang,Mongkol Borei,Trang,Trang,Primary,2.0,1.0,1.0,Rural,1,0,26,POINT (103.00795 13.50579)
4,Banteay Meanchey,1.020106e+09,Banteay Neang,Mongkol Borei,Pongror,Pongror,Primary,2.0,6.0,3.0,Rural,4,1,182,POINT (102.99878 13.49859)

In [31]:
# Fetch and read the datasets
DATA_PATH = "../../data/KHM/"
khm_schools = gpd.read_file("/Users/heatherbaier/Documents/geo/data/KHM/2014/Basic information of school (2014)/basic_information_of_school_2014.shp")
khm_schools = khm_schools.to_crs("epsg:4326")


# khm_schools["longitude"] = khm_schools.geometry.x
# khm_schools["latitude"] = khm_schools.geometry.y
# khm_schools = khm_schools[["SCHOOL_COD", "SCHOOL_NAM", "longitude", "latitude"]]
# khm_schools.columns = ["deped_id", "school_name", "longitude", "latitude"]
khm_schools.head()

,PROVINCE,SCHOOL_COD,COMMUNE,DISTRICT,SCHOOL_NAM,VILLAGE,SCHOOL_TYP,Location,SHIFTS,DISADV,...,Sex,Total_Teac,Female_Tec,Total_Non_,Female_Non,Total_enro,Female_Enr,Total_clas,Total_Staf,geometry
0,Banteay Meanchey,1.020101e+09,Banteay Neang,Mongkol Borei,O Thom,O Thom,Primary,Rural,1.0,0.0,...,M,2,0,2,0,47,21,2,4,POINT (103.03070 13.51528)
1,Banteay Meanchey,1.020103e+09,Banteay Neang,Mongkol Borei,Banteay Neang,Banteay Neang,Primary,Rural,2.0,0.0,...,M,20,15,4,1,562,279,16,24,POINT (103.01544 13.51285)
2,Banteay Meanchey,1.020105e+09,Banteay Neang,Mongkol Borei,Trang,Trang,Primary,Rural,1.0,1.0,...,M,1,1,0,0,23,6,1,1,POINT (103.00795 13.50579)
3,Banteay Meanchey,1.020106e+09,Banteay Neang,Mongkol Borei,Pongror,Pongror,Primary,Rural,2.0,0.0,...,M,3,1,1,0,155,73,6,4,POINT (102.99878 13.49859)
4,Banteay Meanchey,1.020107e+09,Banteay Neang,Mongkol Borei,Kauk Tunloap,Kauk Tunloap,Primary,Rural,2.0,0.0,...,F,5,2,1,1,186,93,6,6,POINT (103.01424 13.48958)

In [32]:
khm_schools.columns

Index(['PROVINCE', 'SCHOOL_COD', 'COMMUNE', 'DISTRICT', 'SCHOOL_NAM',
       'VILLAGE', 'SCHOOL_TYP', 'Location', 'SHIFTS', 'DISADV',
       ...
       'Sex', 'Total_Teac', 'Female_Tec', 'Total_Non_', 'Female_Non',
       'Total_enro', 'Female_Enr', 'Total_clas', 'Total_Staf', 'geometry'],
      dtype='object', length=106)

In [24]:
lycee_2012 = pd.read_csv("/Users/heatherbaier/Documents/geo/data/KHM/2012/lyceecollege.csv")
lycee_2012.head()

,X,Y,PROVINCE,map_id,COMMUNE,DISTRICT,SCHOOL_NAM,VILLAGE,SCHOOL_TYP,TYPE_CODE,CLASSES,ROOMS,Location,Teach_staf,Non_teach,Enrol
0,286263.7732,1491970.086,Banteay Meanchey,1020109710,Banteay Neang,Mongkol Borei,Khilek,Khilek,College,3,6,5,Rural,16,3,286
1,281984.7480,1494941.116,Banteay Meanchey,1020203708,Bat Trang,Mongkol Borei,Bat Trang,Anlung Thngann Lech,College,3,6,5,Rural,16,3,267
2,276018.6830,1484873.055,Banteay Meanchey,1020309904,Chamnom,Mongkol Borei,Raung Ko,Peam Raung Ko,Lycee G7-12,5,20,20,Rural,44,6,798
3,293983.8258,1489970.055,Banteay Meanchey,1020403709,Kauk Balaing,Mongkol Borei,Ta An,Pralay Chrey,College,3,6,5,Rural,9,5,285
4,292275.8310,1498734.123,Banteay Meanchey,1020501706,Koy Meng,Mongkol Borei,Koy Meng,Koy Meng,College,3,6,11,Rural,21,3,291

In [28]:
lycee_2012.shape

(1615, 16)

In [34]:
khm_schools["SCHOOL_TYP"].unique()

array(['Primary', 'Pre school', 'College', 'Lycee G7-12', 'Lycee G10-12'],
      dtype=object)

In [22]:
khm_schools[khm_schools["SCHOOL_TYP"] == "College"]

,PROVINCE,SCHOOL_COD,COMMUNE,DISTRICT,SCHOOL_NAM,VILLAGE,SCHOOL_TYP,Location,SHIFTS,DISADV,...,Sex,Total_Teac,Female_Tec,Total_Non_,Female_Non,Total_enro,Female_Enr,Total_clas,Total_Staf,geometry
2657,Banteay Meanchey,1.020110e+09,Banteay Neang,Mongkol Borei,Khilek,Khilek,College,Rural,0.0,0.0,...,M,12,4,4,3,281,151,7,16,POINT (103.02544 13.48807)
2662,Banteay Meanchey,1.020204e+09,Bat Trang,Mongkol Borei,Bat Trang,Anlung Thngann Lech,College,Rural,0.0,0.0,...,F,16,11,4,3,211,106,5,20,POINT (102.98570 13.51461)
2670,Banteay Meanchey,1.020404e+09,Kauk Balaing,Mongkol Borei,Ta An,Pralay Chrey,College,Rural,0.0,0.0,...,M,9,6,3,1,215,118,6,12,POINT (103.09687 13.47055)
2675,Banteay Meanchey,1.020502e+09,Koy Meng,Mongkol Borei,Koy Meng,Koy Meng,College,Rural,0.0,0.0,...,F,14,7,6,2,261,144,6,20,POINT (103.08047 13.54963)
2683,Banteay Meanchey,1.020610e+09,O Prasat,Mongkol Borei,O Snguot,O Snguot,College,Rural,0.0,0.0,...,M,16,9,5,4,298,168,7,21,POINT (103.01129 13.46691)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10960,Otdar Meanchey,2.405060e+10,Tumnup Dach,Trapaing Prasat,Tumnup Dach,Chey Niwat,College,Rural,0.0,0.0,...,M,8,2,0,0,201,85,4,8,POINT (104.43080 14.28270)
10963,Takeo,2.104040e+10,Kampeng,Kiri Vong,Sok An Phnom,Wat Phnom,College,Rural,0.0,0.0,...,None,0,0,0,0,None,None,0,0,POINT (104.72548 10.65249)
10965,Takeo,2.109061e+10,O Saray,Tramkak,Hun Sen Tnot Chum,Tnot Chum,College,Rural,0.0,0.0,...,None,0,0,0,0,None,None,0,0,POINT (104.53086 11.06693)
10966,Takeo,2.110041e+10,Khvav,Traing,Srey Sith,Ta Sren,College,Rural,0.0,0.0,...,None,0,0,0,0,None,None,0,0,POINT (104.73294 10.90822)
10981,Otdar Meanchey,2.402011e+10,Ampil,Banteay Ampil,Ampil,Ampil Chas,College,Rural,0.0,0.0,...,None,0,0,0,0,None,None,0,0,POINT (103.11523 14.23811)

In [33]:
print([i for i in khm_schools.columns])

['PROVINCE', 'SCHOOL_COD', 'COMMUNE', 'DISTRICT', 'SCHOOL_NAM', 'VILLAGE', 'SCHOOL_TYP', 'Location', 'SHIFTS', 'DISADV', 'SWATER', 'STOILET', 'PAEXIST', 'G1T', 'G1F', 'G2T', 'G2F', 'G3T', 'G3F', 'G4T', 'G4F', 'G5T', 'G5F', 'G6T', 'G6F', 'G1RT', 'G1RF', 'G2RT', 'G2RF', 'G3RT', 'G3RF', 'G4RT', 'G4RF', 'G5RT', 'G5RF', 'G6RT', 'G6RF', 'PINTAKET', 'PINTAKEF', 'POVERT', 'POVERF', 'TCHT', 'TCHF', 'NTCHT', 'NTCHF', 'NOTRAIN', 'CONTRACT', 'COMTEACH', 'NUMMONKS', 'BUILDS', 'ROOMS', 'CLROOMS', 'CLASSWFL', 'CLASSWRF', 'CLWGWALL', 'NWDESK', 'NWCHAIR', 'NWBOARD', 'NWTTBCH', 'PROMG1T', 'REPRG1T', 'DROPG1T', 'PROMG1F', 'REPRG1F', 'DROPG1F', 'PROMG2T', 'REPRG2T', 'DROPG2T', 'PROMG2F', 'REPRG2F', 'DROPG2F', 'PROMG3T', 'REPRG3T', 'DROPG3T', 'PROMG3F', 'REPRG3F', 'DROPG3F', 'PROMG4T', 'REPRG4T', 'DROPG4T', 'PROMG4F', 'REPRG4F', 'DROPG4F', 'PROMG5T', 'REPRG5T', 'DROPG5T', 'PROMG5F', 'REPRG5F', 'DROPG5F', 'PROMG6T', 'REPRG6T', 'DROPG6T', 'PROMG6F', 'REPRG6F', 'DROPG6F', 'School_Pri', 'Sex', 'Total_Teac', 'Female_Tec', 'Total_Non_', 'Female_Non', 'Total_enro', 'Female_Enr', 'Total_clas', 'Total_Staf', 'geometry']